.App {
  text-align: left;

}
.home-wrapper{
  height: 37rem;
}
.home{
  margin-right: 0 !important;
}

.navbar{
  .nav-link{
    padding-left: 30px !important;
  }
}

.inputForm{
  .btn{
    width:6rem;
  }
  .clearBtn{
    margin-left: 0%;
  }
  .btn.btn-primary{
    background-color: #448df4;
    border-color:#37a5ff;
  }
  .btn.btn-primary[disabled]{
    background-color: #aeaeae;
    border-color:#a9a9a9;
  }
  .swap{
    width:38px;
    height:38px;
    margin-left: 51%;
    .img{
      position: relative;
      right: 5.5px;
    }
  }
  .switch{
    margin-left: 60%;
    margin-top: 10px;
  }
  .error{
    border-color: red;
  }

  .locks{
    position: relative;
    left: 5.5px;
    bottom: 2px;
  }
  
  
}


.tabs{
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-left: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-radius: .20rem;

  .tabs-header{
    padding-left: 2.5%;
    padding-top: 2.7%;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    a:focus {
      outline: none !important;
    }
    .icons{
      position: relative;
      left: 6px;
      bottom: 2px;
    }
  }

  .tab-content{
    
  }

  .empty{
    margin-top: 30px;
    text-align: center;
    color: grey;
  }

  .settings{
    padding: 4% 6%;
    .form-label{
      margin-bottom: 0;
    }
    .sublabel{
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}
.historyCard{
  margin-bottom: 15px;
  .card-body{
    .card-text{
      margin-top: 4px;
    }
  }
  
  .card-header{
    height: 35px;
    .btn{
      position: relative;
      bottom: 50px;
      left:19px;

      width: 5rem;
      margin-left: 6px;
      float: right;
    }
    .select{
      width:10rem;
    }
    .card-text{
      position: relative;
      bottom: 6px;
      right: 10px;
    }
  }
}

.footer{
  padding: 0 !important;
  .nav-link{
    padding: 0;
  }
}

.loader{
  margin-top: 30px;
  margin-bottom:30px;
  text-align: center;
  color: grey;
}

.modal-title{
  text-align: center;
}